/* #c09d4d , #f1ece5 , #d7be8b , #e1d0b3 , #e8dcc9 */
body {
    background: linear-gradient(180deg, #4e8bb7 0%, #d4e6f5 100%);
}

h2 {
    text-align: center;
    padding: 25px;
    filter: drop-shadow(2px 2px 1px #a7c6dc);
    color: #4e8bb7;
    font-family: "Quintessential", serif;
    font-weight: 400;
}

h3 {
    text-align: center;
    padding: 25px;
    filter: drop-shadow(2px 2px 1px #a7c6dc);
    color: #4e8bb7;
    font-family: "Quintessential", serif;
    font-weight: 400;
    animation-delay: 0.5s;
}

hr {
    border: none;
    border-style: dashed;
    height: 4px;
    color: #4e8bb7;
}

.card{
    border-radius: 28px;
    background: #d4e6f5;
    border: 1px solid #80a8c6;
    max-width:720px;
    margin: 1rem auto;
    box-shadow: 0 8px 24px #edf4fb;
}

.card-body{
    padding: 2rem;
    border-radius: 56px;
    color: #edf4fb;
}

.form-label {
    color: #edf4fb;
    filter: drop-shadow(2px 2px 1px #4e8bb7);
  font-family: "Delius", cursive;
  font-weight: 400;
  font-style: normal;
  padding-left: 25px;
}

.form-floating {
    padding-left: 25px;
    width: 200px;
    margin-top: 15px;
    margin-bottom: 25px;
}
.form-select {
    background-color: #edf4fb;
    color: #4e8bb7;
    width: 200px;
    margin-top: 15px;
    margin-bottom: 25px;
    border-width: 2.5px;
    border-color: #4e8bb7;
}
.form-control {
        background-color: #edf4fb;
    color: #4e8bb7;
    width: 200px;
    margin-top: 15px;
    margin-bottom: 25px;
    border-width: 2.5px;
    border-color: #4e8bb7;
}

.form {
        background-color: #edf4fb;
    color: #4e8bb7;
    width: 200px;
    margin-top: 15px;
    margin-bottom: 25px;
    border-width: 2.5px;
    border-color: #4e8bb7;
}

#button {
        text-align: center;
        padding: 50px;
}

.form-range {
      padding-left: 25px;
    width: 250px;
}

.form-range::-webkit-slider-thumb {
    background-color: #edf4fb;
}

.form-range::-webkit-slider-runnable-track {
    background-color: #4e8bb7;
}


.btn-primary {
    background-color: #4e8bb7;
    color: #edf4fb;
    font-family: "Quintessential", serif;
    font-weight: 400;
    border-color: #edf4fb;
    border-width: 2px;
    border-style: dashed;
}

.btn-primary:hover {
    background-color: #edf4fb;
    color: #4e8bb7;
    font-family: "Quintessential", serif;
    font-weight: 400;
    border-color: #80a8c6;
    border-width: 2px;
}

#result {
    padding: 50px;
    display: none;
    animation: zoomIn;
    animation-duration: 2s;
}

footer {
      font-family: "Delius", cursive;
  font-weight: 400;
  font-style: normal;
    padding: 50px;
    background: linear-gradient(180deg, #d4e6f5 0%, #4e8bb7 100%);
    color: #edf4fb;
    text-align: center;
}

