/* #c09d4d , #f1ece5 , #d7be8b , #e1d0b3 , #e8dcc9 */
body {
    background-color: #d7be8b;
}

h2 {
    text-align: center;
    padding: 25px;
    filter: drop-shadow(2px 2px 1px #c09d4d);
    color: #e8dcc9;
    font-family: "Quintessential", serif;
    font-weight: 400;
}

h3 {
    text-align: center;
    padding: 25px;
    filter: drop-shadow(2px 2px 1px #c09d4d);
    color: #e8dcc9;
    font-family: "Quintessential", serif;
    font-weight: 400;
    animation-delay: 0.5s;
}

hr {
    border: none;
    border-style: dashed;
    height: 4px;
    color: #c09d4d;
}

.card{
    border-radius: 28px;
    background: linear-gradient(180deg, #d7be8b 0%, #e8dcc9 100%);
    border: 1px solid #d2af26;
    max-width:720px;
    margin: 1rem auto;
    box-shadow: 0 8px 24px #e8dcc9;
}

.card-body{
    padding: 2rem;
    border-radius: 28px;
    color: #e1d0b3;
}

.form-label {
    color: #e8dcc9;
    filter: drop-shadow(2px 2px 1px #c09d4d);
  font-family: "Delius", cursive;
  font-weight: 400;
  font-style: normal;
  padding-left: 25px;
}

.form-floating {
    padding-left: 25px;
    width: 200px;
    margin-top: 15px;
    margin-bottom: 25px;
}
.form-select {
    background-color: #e8dcc9;
    color: #c09d4d;
    width: 200px;
    margin-top: 15px;
    margin-bottom: 25px;
}
.form-control {
        background-color: #e8dcc9;
    color: #c09d4d;
    width: 200px;
    margin-top: 15px;
    margin-bottom: 25px;
}

.form {
        background-color: #e8dcc9;
    color: #c09d4d;
    width: 200px;
    margin-top: 15px;
    margin-bottom: 25px;
}

#button {
        text-align: center;
        padding: 50px;
}

.form-range {
      padding-left: 25px;
    width: 250px;
}

.form-range::-webkit-slider-thumb {
    background-color: #e8dcc9;
}

.form-range::-webkit-slider-runnable-track {
    background-color: #c09d4d;
}


.btn-primary {
    background-color: #c09d4d;
    color: #e1d0b3;
    font-family: "Quintessential", serif;
    font-weight: 400;
    border-color: #e1d0b3;
    border-width: 2px;
    border-style: dashed;
}

.btn-primary:hover {
    background-color: #e1d0b3;
    color: #c09d4d;
    font-family: "Quintessential", serif;
    font-weight: 400;
    border-color: #d2af26;
    border-width: 2px;
}

